<h1>New Contact</h1>

<p>Yo, you have a new contact request.</p>

<ul>
  <li>Name: <%= @contact.first_name %> <%= @contact.last_name %></li>
  <li>Email: <%= @contact.email %></li>
  <li>Message: <%= @contact.message %></li>
</ul>