<%= content_tag(:tr, id: "admin-tag-#{tag.id}") do %>
  <td><%= link_to tag.label, edit_admin_tag_path(tag), data: {turbo: false} %></td>
  <td><%= content_tag :div, tag.label, class: "badge mt-1 text-white me-1", style: "background-color: #{tag.color}" %></td>
<% end %>