<section id="industries" class="container my-5 py-lg-5 py-md-4 py-3">
  <div class="row gy-4 py-xl-3">
    <div class="col-md-6 col-lg-5 d-flex">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h2 class="h1 mb-lg-4 mb-3">Technology for Every Industry</h2>
        <p class="mb-3 fs-lg">
          Our experience spans a diverse range of industries, allowing us to bring specialized knowledge and insights to your project.
        </p>
        <p class="mb-3 fs-lg">
          Whether you're in <span class="text-primary fw-bold">manufacturing, construction, specialty retail, healthcare, dining, finance, home services</span>, or any other sector, we understand the unique
          challenges and opportunities you face. Our team is equipped to provide cutting-edge solutions that not only meet your current needs but also position you for future growth.
        </p>
        <p class="mb-3 fs-lg">
          Our passion for technology and innovation fuels our work, whether we're optimizing your existing systems or
          developing new, transformative solutions. We're committed to helping your business harness the full potential
          of technology, no matter your industry or business size.
        </p>

      </div>
    </div>
    <div class="col-md-6 offset-lg-1 rellax" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="md">
      <%= image_tag "industries/02.jpg", class: "rounded-3", alt: "Tech for any industry" %>
    </div>
  </div>
</section>