<section id="projects" class="container my-5 pb-lg-5 pb-md-4 pb-3">
  <h2 class="h1 mb-lg-5 mb-4 pb-lg-0 pb-md-2 text-center">Explore Our Featured Projects</h2>

  <!-- Project item -->
  <div class="row gy-4 mb-4 pb-md-3 pb-2">
    <div class="col-md-6 rellax" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="md">
      <div class="bg-secondary rounded-3">
        <%= image_tag "projects/01.png" %>
      </div>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 offset-lg-1 d-flex rellax" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h3 class="h2 mb-lg-4 mb-3">Camping gear rental startup</h3>
        <h4 class="mb-lg-4 mb-3 fs-base fw-normal text-body">Startup MVP</h4>
        <p class="mb-lg-4 mb-3">
          We built an MVP for Cool Camp Rentals, a camping gear rental startup. This was a custom coded web app that
          included
          a customer facing front-end with an admin and staff accessible back-end for managing the internals of the
          business.
          Included was custom logic to ensure gear availability, a custom reservation system, tracking to identify which
          gear
          was most in-demand, and a backend for the owners and staff to manage inventory, orders, and customer
          communication with much more under the hood.
        </p>
        <ul class="mb-lg-4 mb-3 fs-sm text-muted list-inline" style="max-width: 19.125rem;">
          <li class="list-inline-item me-1">
            Product Strategy
            <span class="ms-1">/</span>
          </li>
          <li class="list-inline-item me-1">
            Web Development
            <span class="ms-1">/</span>
          </li>
          <li class="list-inline-item me-1">
            Systems Design
            <span class="ms-1">/</span>
          </li>
          <li class="list-inline-item me-1">
            Operations
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Project item -->
  <div class="row gy-4 mb-4 pb-md-3 pb-2">
    <div class="col-md-6 rellax" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="md">
      <div class="bg-secondary rounded-3">
        <%= image_tag "projects/02.png" %>
      </div>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 offset-lg-1 d-flex rellax" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h3 class="h2 mb-lg-4 mb-3">Multi purpose dashboard for landscaping company</h3>
        <h4 class="mb-lg-4 mb-3 fs-base fw-normal text-body">Responsive Web App</h4>
        <p class="mb-lg-4 mb-3">
          We built a custom web app for a landscaping provider to manage and assign work to techs in the field, manage
          client projects, view important data, and generate business critical reports.
          The Owner and admins can identify where every tech, truck, trailer, and piece of equipment was located at a
          glance. Delegating resources to new jobs without conflicts went from a major chore that required a dedicated
          employee to a few simple clicks allowing staff to focus on more important tasks.
        </p>
        <ul class="mb-lg-4 mb-3 fs-sm text-muted list-inline" style="max-width: 19.125rem;">
          <li class="list-inline-item me-1">
            Product Strategy
            <span class="ms-1">/</span>
          </li>
          <li class="list-inline-item me-1">
            Systems Design
            <span class="ms-1">/</span>
          </li>
          <li class="list-inline-item me-1">
            Web Development
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Project item -->
  <div class="row gy-4 mb-xl-3">
    <div class="col-md-6 rellax" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="md">
      <div class="bg-secondary rounded-3">
        <%= image_tag "projects/03.png" %>
      </div>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 offset-lg-1 d-flex rellax" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
      <div class="align-self-center ps-lg-0 ps-md-4">
        <h3 class="h2 mb-lg-4 mb-3">Account management portal for mens health</h3>
        <h4 class="mb-lg-4 mb-3 fs-base fw-normal text-body">Responsive Web App</h4>
        <p class="mb-lg-4 mb-3">
          This was an account management app facilitating patient self service for a mens health center. Patients can
          view invoices, discuss issues with providers, manage payment methods (including paying with crypto), and view
          important notifications from their provider.
        </p>
        <ul class="mb-lg-4 mb-3 fs-sm text-muted list-inline" style="max-width: 19.125rem;">
          <li class="list-inline-item me-1">
            Web Development
            <span class="ms-1">/</span>
          </li>
          <li class="list-inline-item me-1">
            Systems Design
            <span class="ms-1">/</span>
          </li>
          <li class="list-inline-item me-1">
            Responsive Design
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-12 text-center">
      <p class="lead">Built using the following tech:</p>
    </div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-git-plain"></i><br>Git</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-github-original"></i><br>Github</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-heroku-original"></i><br>Heroku</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-ruby-plain"></i><br>Ruby</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-rails-plain-wordmark"></i><br>Rails</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-elixir-plain"></i><br>Elixir</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-phoenix-plain"></i><br>Phoenix</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-postgresql-plain"></i><br>Postgres</div>
  </div>
  <div class="row justify-content-center pb-5">
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-mongodb-plain"></i><br>MongoDB</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-mysql-plain"></i><br>Mysql</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-javascript-plain"></i><br>JS</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-nodejs-plain"></i><br>Node</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-html5-plain"></i><br>HTML</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-css3-plain"></i><br>CSS</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-bootstrap-plain"></i><br>Bootstrap</div>
    <div class="pt-3 col-auto text-center"><i class="fs-1 devicon-tailwindcss-original-wordmark"></i><br>Tailwind</div>
  </div>
</section>