<section id="process" class="process pt-0">

  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center my-5">
        <h5 class="fw-light fs-3 fs-lg-5 lh-sm mb-4">Our Process</h5>
        <p class="mb-5">Here's how we work at Out West Tech</p>
      </div>
    </div>
    <div class="row flex-center h-100">
      <div class="col-xl-9">
        <div class="row h-100 justify-content-center">
          <div class="col-md-12 mb-4">
            <div class="card h-100 card-span p-3">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <i class="bi bi-binoculars fs-6 icon-n-margin text-purple"></i>
                  <div class="flex-1 ms-4">
                    <h6 class="fw-light fs-lg-1 mb-1">Discovery</h6>
                    <p class="fw-normal mb-0 text-800">Get the whole picture.</p>
                  </div>
                </div>
                <p class="mb-0 mt-4 lh-lg">
                  From a basic business website to an app for a new startup, our process begins with a clear
                  understanding of your needs. With a clear picture in mind, we can get to work with confidence.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="card h-100 card-span p-3">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <i class="bi bi-columns-gap fs-6 icon-n-margin text-purple"></i>
                  <div class="flex-1 ms-4">
                    <h6 class="fw-light fs-lg-1 mb-1">Planning</h6>
                    <p class="fw-normal mb-0 text-800">Build a customized plan.</p>
                  </div>
                </div>
                <p class="mb-0 mt-4 lh-lg">
                  Here we'll define key milestones, allocate resources, and define a timeline to ensure a smooth and
                  effective execution collaborating with you every step of the way.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="card h-100 card-span p-3">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person-workspace fs-6 icon-n-margin text-purple"></i>
                  <div class="flex-1 ms-4">
                    <h6 class="fw-light fs-lg-1 mb-1">Execution</h6>
                    <p class="fw-normal mb-0 text-800">It's time to break digital ground.</p>
                  </div>
                </div>
                <p class="mb-0 mt-4 lh-lg">With a deep understanding of your business needs obtained during
                  Discovery, and a collaborative roadmap built during Planning, we can Execute with precision.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="card h-100 card-span p-3">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <i class="bi bi-arrow-clockwise fs-6 icon-n-margin text-purple"></i>
                  <div class="flex-1 ms-4">
                    <h6 class="fw-light fs-lg-1 mb-1">Feedback</h6>
                    <p class="fw-normal mb-0 text-800">Ongoing updates and checkins.</p>
                  </div>
                </div>
                <p class="mb-0 mt-4 lh-lg">As we approach each milestone on your project, we'll review where we're at
                  and how things are going. You can provide feedback and have the opportunity to verify ongoing progress
                  in full transparency.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>