<section id="services" class="services pt-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center mb-4">
        <h5 class="fw-light fs-3 fs-lg-5 lh-sm mb-3">Our Services</h5>
        <p class="mb-5 text-black">
          From simple websites to custom business apps, we build solutions that manage complexity, generate revenue, and
          grow your outreach.
        </p>
      </div>
    </div>

    <div class="row flex-center h-100">
      <div class="col-xl-12">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">

                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-laptop fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Business Growth</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        Have all the talent and tools but struggling to see the profits you expect? We can help
                        brainstorm solutions and identify the hangups together.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">
                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-tablet fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Web & Mobile Apps</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        We build custom web and mobile apps that make your business easier to manage. Imagine solving
                        "that" problem with the tap of a button or doing more with less staff.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">
                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-boxes fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Integrations</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        Found an app or service and want to integrate it into your website or existing tools? We can
                        help. We can also build custom integrations or pipelines for partnerships.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">
                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-card-checklist fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Operations & Workflow</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        We can help design workflows and operations that just make sense. Less stress, more confidence,
                        higher margins.
                        We can leverage our experience to help brainstorm ways to solve your unique problems or reach
                        your business goals.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>