<section id="technology" class="technology">

  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center my-5 text-white">
        <h5 class="fs-3 fs-lg-5 lh-sm mb-4 text-white">Technology</h5>
        <p class="mb-5">While the tools, technology, and software we use varies based on the job at hand, here's a list of what we most commonly use in our day-to-day.</p>
      </div>
    </div>
    <div class="row flex-center h-100">
      <div class="col-xl-9">
        <div class="row h-100 justify-content-center">
          <div class="col-md-12 mb-4">
            <div class="card h-100 bg-100 card-span p-3">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-git-plain"></i><br>Git</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-github-original"></i><br>Github</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-heroku-original"></i><br>Heroku</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-ruby-plain"></i><br>Ruby</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-rails-plain-wordmark"></i><br>Rails</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-elixir-plain"></i><br>Elixir</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-phoenix-plain"></i><br>Phoenix</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-postgresql-plain"></i><br>Postgres</div>
                </div>
                <div class="row justify-content-center">
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-mongodb-plain"></i><br>MongoDB</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-mysql-plain"></i><br>Mysql</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-javascript-plain"></i><br>JS</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-nodejs-plain"></i><br>Node</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-html5-plain"></i><br>HTML</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-css3-plain"></i><br>CSS</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-bootstrap-plain"></i><br>Bootstrap</div>
                  <div class="pt-3 col-auto text-center"><i class="fs-5 devicon-tailwindcss-original-wordmark"></i><br>Tailwind</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>