<section id="what-we-do" class="what-we-do pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center mb-4">
        <h5 class="fw-light fs-3 fs-lg-5 lh-sm mb-3">What We Do</h5>
        <p class="mb-5">
          We bring the same technology and ideas that the big guys use to hard working small business owners and managers.
        </p>
      </div>
    </div>

    <div class="row flex-center h-100">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">

                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-person-plus fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Attain & Retain Customers</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        Custom tools and software can make it easy & stress free to onboard customers and provide world class customer service without having to hire more people.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">
                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-piggy-bank fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Grow Your Revenue</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        Investing in custom software is like having staff that never clocks out. Automate and streamline more of your business and increase your profit per hour while having more time to focus on growth.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">
                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-globe-americas fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Software as a Service</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        Gain an additional revenue stream from your competitors by turning your software project into a profitable subscription service. Who knows, it might just become your new venture.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">
                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-tools fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Own Your Own Tools</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        You don't rent your tools, don't rent the software that drives your business. When you own your data and the code, anything is possible on your terms.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 mb-4">
            <div class="card h-100 px-4 px-md-2 px-lg-3 card-span">
              <div class="text-center text-md-start">
                <div class="card-body">
                  <div class="row mt-3 justify-content-center justify-content-md-start">
                    <div class="col-auto">
                      <div class="icon-round purp-icon text-white mb-3">
                        <i class="bi bi-coin fs-4 icon-n-margin"></i>
                      </div>
                    </div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div class="col d-md-flex">
                      <h6 class="fw-light fs-1 heading-color align-self-center mb-3 mb-md-0">Operate with Efficiency</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-md-0 mb-lg-3">
                        Cut internal costs and time sucks. Manage staff and jobs from anywhere. Run more efficiently than ever before while seeing higher profit margins. The limit is your ingenuity, work smarter than your competition.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section>