<section id="why-use-us" class="container mb-lg-5 mb-4 pb-3">
  <h2 class="h1 pb-lg-0 pb-md-2 text-center">Why Choose Us For Your Project?</h2>
  <p class="text-center lead mb-4">Here's what sets us apart</p>

  <!-- Swiper slider -->
  <div class="mb-xl-3 text-sm-start text-center" data-swiper-options>
    <div class="row">

      <!-- Swiper item -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mt-3 mt-lg-0 mx-auto" style="max-width: 19.125rem;">
          <div class="card d-table border-0 rounded-circle shadow-sm p-3 mx-auto mb-4">
            <%= image_tag "features/01.svg", width: 32, alt: "Icon" %>
          </div>
          <h4 class="h5 mb-3">Fast, Efficient Services</h4>
          <p class="mb-0">
            We provide solutions quickly while being specifically customized to meet your business needs.
            Our streamlined process guarantees results that deliver immediate impact and lasting value, all while maintaining
            the highest quality.
          </p>
        </div>
      </div>

      <!-- Swiper item -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mt-3 mt-lg-0 mx-auto" style="max-width: 19.125rem;">
          <div class="card d-table border-0 rounded-circle shadow-sm p-3 mx-auto mb-4">
            <%= image_tag "features/02.svg", width: 32, alt: "Icon" %>
          </div>
          <h4 class="h5 mb-3">On-Demand Expertise</h4>
          <p class="mb-0">
            Whether it’s launching a new product, optimizing your operations, or migrating to a new system, our team is
            ready to respond to your needs. We provide expert guidance and hands-on support exactly where and when you need it.
          </p>
        </div>
      </div>

      <!-- Swiper item -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mt-3 mt-lg-0 mx-auto" style="max-width: 19.125rem;">
          <div class="card d-table border-0 rounded-circle shadow-sm p-3 mx-auto mb-4">
            <%= image_tag "features/03.svg", width: 32, alt: "Icon" %>
          </div>
          <h4 class="h5 mb-3">Results-Driven Focus</h4>
          <p class="mb-0">
            We don’t just build products; we deliver results. Our solutions are designed to enhance your business
            performance, streamline operations, and create new opportunities for growth.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="mt-3 mt-lg-0 mx-auto" style="max-width: 19.125rem;">
          <div class="card d-table border-0 rounded-circle shadow-sm p-3 mx-auto mb-4">
            <%= image_tag "features/04.svg", width: 32, alt: "Icon" %>
          </div>
          <h4 class="h5 mb-3">Dedicated Partnership</h4>
          <p class="mb-0">
            We’re more than just a service provider—we’re your partners in success. Our dedication to your project
            means we’re with you every step of the way, ensuring your vision is realized.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="position-relative bg-dark rounded-3 overflow-hidden py-5 px-4 px-sm-0">
    <span class="position-absolute top-0 start-0 d-block w-100 h-100" style="background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);"></span>
    <div class="position-relative row justify-content-center py-sm-2 py-lg-5">
      <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-center">
        <h2 class="h1 text-light mb-4">Don’t Delay Your Growth!</h2>
        <p class="fs-lg text-light opacity-70 pb-4 mb-3">
          Your business growth starts with a conversation. Reach out now, and we’ll fast-track your progress.
        </p>

        <a href="#contact" data-scroll class="btn btn-primary shadow-primary btn-lg">Start the Conversation</a>
      </div>
    </div>
  </div>
</section>