<section id="home" class="home py-0" style="height: 100vh;">

  <div id="home" class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 pb-6 pt-3 pt-md-6 text-center">
        <h1 class="mt-6 mb-sm-4 display-1 text-white cyber-font">
          Out West Tech
        </h1>

        <p class="fs-1 lh-lg text-white fw-bold">
          We grow small business with big tech.
        </p>

        <div class="row mt-3">
          <div class="col-12">
            <a class="btn glowy-btn-pink" href="#" data-bs-toggle="modal" data-bs-target="#contactModal">Get Started</a>
          </div>
        </div>

        <div class="mt-5 mt-xl-6">

        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "pages/what_we_do" %>
<%= render partial: "pages/services" %>
<%= render partial: "pages/process" %>
<%= render partial: "pages/technology" %>

<section class="py-6 mt-6 mb-6">
  <div class="container">
    <div class="row flex-center">
      <div class="col-md-7 col-lg-6 offset-xl-1">
        <h1 class="fw-light text-center text-md-start fs-lg-3 fs-xl-4">Our team is ready to get to work.</h1>
      </div>
      <div class="col-md-4 text-center text-lg-end">
        <a class="btn btn-lg glowy-btn-pink" href="#contact" data-bs-toggle="modal" data-bs-target="#contactModal">Lets Go
        </a></div>
    </div>
  </div>

</section>