<div class="container">
  <div class="row mb-8">
    <div class="col-md-12">
      <!-- page header -->
      <div class="d-md-flex justify-content-between align-items-center">
        <div>
          <h2>New Post</h2>
          <!-- breacrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><%= link_to "Dashboard", admin_dashboard_path, class: "text-inherit" %></li>
              <li class="breadcrumb-item"><%= link_to "All Posts", admin_posts_path, class: "text-inherit" %></li>
              <li class="breadcrumb-item active" aria-current="page">New Post</li>
            </ol>
          </nav>
        </div>
        <!-- button -->
        <div>
          <%#= link_to "All Pages", admin_pages_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
  <!-- form -->
  <%= render partial: "admin/posts/form", locals: {post: @post} %>
  <%#= render partial: "admin/add_ons/edit_modals", locals: {add_ons: @add_ons} %>
  <%#= render partial: "admin/add_ons/new_modal", locals: {add_on: @add_on} %>
</div>