<section class="container mb-5 pt-4 pb-2 py-mg-4">
  <div class="row gy-4">

    <!-- Content -->
    <div class="col-lg-9">
      <div id="post-content">
        <%= post.content %>
      </div>
    </div>

    <!-- Sharing -->
    <div class="col-lg-3 position-relative">
      <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 105px !important;">
        <span class="d-block mb-3">5 min read</span>
        <div class="mb-4 pb-lg-3">
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= post_url(post) %>" target="_blank" class="btn btn-secondary btn-facebook me-2 mb-2" aria-label="Facebook">
            Share on
            <i class="ms-2 bx bxl-facebook-circle fs-3"></i>
          </a>
        </div>

        <%= render partial: "posts/sidebar_cta" %>
      </div>
    </div>
  </div>
</section>