<div class="card border-0 bg-faded-primary bg-repeat-0 bg-size-cover" style="min-height: 25rem; background-image: url('<%= image_path("blog/banner.png") %>');">
  <div class="card-body">
    <h5 class="h3 mt-5 mt-md-0 mb-4 pb-2 text-center">Ready to grow your business?</h5>
    <%= link_to "Get Started Now", root_path(anchor: "contact"), class: "d-flex mx-auto btn btn-light w-sm-25 w-md-100" %>
  </div>
</div>