<nav class="navbar navbar-expand-lg navbar-neon-teal py-3" data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center fs-3" do %>
      <h1 class="text-white cyber-font">W</h1>
    <% end %>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list text-white fs-4"></i></button>

    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="fw-bold nav-link text-white" href="#what-we-do">What we do</a></li>
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="fw-bold nav-link text-white" href="#services">Services </a></li>
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="fw-bold nav-link text-white" href="#process">Process</a></li>
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="fw-bold nav-link text-white" href="#technology">Tech</a></li>
      </ul>
      <form class="">
        <a href="#" data-bs-toggle="modal" data-bs-target="#contactModal" class="btn glowy-btn-pink order-0" >Contact</a>
      </form>
    </div>
  </div>
</nav>